#map_canvas{:style=>'width:700px; height:450px'}

%div
  Click pick to be able to choose a spot on the map for the latitude and longitude. Please zoom in a bit so we can get the most accurate reading possible.
  %br
  %input{:type => 'button', :id => 'select-location', :value => 'Pick'}
  %br
  Enter an address or zip code below and click Center Map to center the map around a more specific area.
  %br
  %input{:type => 'text', :id => 'center-addr', :size => 50}
  %input{:type => 'button', :id => 'center-map', :value => 'Center Map'}
  %br
  %br

- semantic_form_for @new_tower do |tower|
  = tower.input :lat, :label => 'Latitude'
  = tower.input :lng, :label => 'Longitude'
  = tower.input :title
  = tower.input :details
  = recaptcha_tags
  = tower.submit 'Add Tower'
  

:javascript
  window.map = null;
  window.new_tower = null;
  window.towers = new Array();
  window.tower_data = null;
  window.geocoder = null;
  $(document).ready(function(){
    window.geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(34.05,-118.25);
    var myOptions = {
      zoom: 12,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    window.map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    
    $.get('/towers', {}, function(data){
      window.tower_data = data;
      for(var i=0,l=data.length; i<l; i++){
        window.towers.push(new google.maps.Marker({
          position: new google.maps.LatLng(data[i].tower.lat, data[i].tower.lng),
          map: map,
          title: data[i].tower.title
        }));
        infowindow = new google.maps.InfoWindow();
        google.maps.event.addListener(window.towers[i], 'click', function(e){
          var marker;
          var i=0;
          for(var l=window.towers.length; i<l; i++){
            if(window.towers[i]==this){ marker = this; break;}
          }
          infowindow.setContent(window.tower_data[i].tower.details);
          infowindow.open(map, marker);
        });
      }
      }, 'json');
    
    
    $('#select-location').click(function(){
      if(map.getZoom() < 14){alert('Please zoom in a bit so we can get a more accurate location');return false;}
      google.maps.event.addListener(map, 'click', function(e){
        var latlng = e.latLng;
        $('#tower_lat').val(latlng.lat());
        $('#tower_lng').val(latlng.lng());
        if(window.new_tower != null){
          window.new_tower.setMap(null);
          window.new_tower = null;
        }
        window.new_tower = new google.maps.Marker({
          position: latlng, 
          map: map
        });
      });
    });
    
    $('#center-map').click(center_zoom);
  });
